<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>
</head>
<body>
    {{>header}}
    Help content from about.html
    <p>{{body}}</p>
    {{>footer}}
</body>
</html>
